.cafeteriaHeader {
  display: flex;
  flex: 1;
  background-color: white;
  //   border-bottom: 0.5pt solid rgba(135, 152, 170, 0.6);
}
.cafeteriaHeader span {
  width: 100%;
  flex: 1;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 13px;
  font-weight: bold;
  line-height: 35px;
}

.cafeteriaHeader a {
  width: 100%;
  flex: 1;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  line-height: 35px;
}

.cafeteriaHeaderAddress {
  display: flex;
  flex: 1;
  background-color: white;
  //   border-bottom: 0.5pt solid rgba(135, 152, 170, 0.6);
}

.cafeteriaHeaderAddress span {
  width: 100%;
  flex: 1;
  margin-left: 15px;
  margin-top: -8px;
  font-size: 13px;
  font-weight: bold;
  line-height: 35px;
  color: gray;
}
